
// Configuration for running the pipeline locally with Docker


process {
    // if the process name is not listed separately below
    // the following settings are used
    executor='local'
    container = 'riboflow:latest' // Use our locally built image
    cpus = 4

    // Override the following defaults 
    // by specifying the process name

    withName: quality_filter{
        cpus = 4
    }
    
    withName: clip{
        cpus = 4
    }
    
    withName: filter{
        cpus = 4
    }
    
    withName: transcriptome_alignment{
        cpus = 4
    }
    
    withName: quality_filter{
        cpus = 4 
    }
    
    withName: genome_alignment{
        cpus = 4
    }    

    withName: create_ribo{
        cpus = 4 
    }
    

}


// Total number of CPUs reserved for nextflow
executor {
    cpus = 4
}


docker {
    enabled = true
    // map host user ID to container user ID to avoid permission issues with output files
    runOptions = '-u $(id -u):$(id -g)' 
}
